// Addaption of https://davidwalsh.name/write-media-queries-sass

$xl-width: '1200px';
$lg-width: '992px';
$md-width: '786px';
$sm-width: '576px';

@mixin xlUp {
  @media (min-width: #{$xl-width}) { @content; }
}
@mixin lgUp {
  @media (min-width: #{$lg-width}) { @content; }
}
@mixin mdUp {
  @media (min-width: #{$md-width}) { @content; }
}
@mixin smUp {
  @media (min-width: #{$sm-width}) { @content; }
}
@mixin xlDown {
  @media (max-width: #{$xl-width}) { @content; }
}
@mixin lgDown {
  @media (max-width: #{$lg-width}) { @content; }
}
@mixin mdDown {
  @media (max-width: #{$md-width}) { @content; }
}
@mixin smDown {
  @media (max-width: #{$sm-width}) { @content; }
}

// Visibility Classes Downwards
.hiddenSmDown {
  @include smDown {
    display: none;
  }
}
.hiddenMdDown {
  @include mdDown {
    display: none;
  }
}
.hiddenLgDown {
  @include lgDown {
    display: none;
  }
}
.hiddenXlDown {
  @include xlUp {
    display: none;
  }
}
// Visibility Classes Upwards
.hiddenSmUp {
  @include smUp {
    display: none;
  }
}
.hiddenMdUp {
  @include mdUp {
    display: none;
  }
}
.hiddenLgUp {
  @include lgUp {
    display: none;
  }
}
.hiddenXlUp {
  @include xlUp {
    display: none;
  }
}



/*
Example of usage:

@include smUp {
  body {
    background: red;
  }
};

Compiles to

@media (min-width: 576px) {
  body {
    background: red;
    }
};
*/
